/**
 * iPod Touch/iPhone Stylesheet (iCSS/Isis Stylesheet)
 * @author: Akoi Meexx
 */

html
{
	font-size: 1.0em;
}

.container
{
/* Border */
	border-left: 4px solid #3fcfcf;
	border-right: 4px solid #3fcfcf;
	
/* Layout */
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 240px;
}
#header
{
	border-left
}